body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    background-color: black;
    color: white;
    border-radius: 20px;
    border-collapse: separate;
}

.card:hover{
    background-image: url("hatt.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 10px rgb(0, 140, 255);
}

.btn{
    background-color: black;
    border: white 3px solid;
}

.btn:hover{
    background-image: url("kep.jpg");
    background-position: center;
    background-size: 200px;
    color: black;
    border: black;
    box-shadow: 6px 6px 10px black;

}

.menusor:hover{
    background-color: black;
    border: white 3px solid;
}

video{
    border: 4px white solid;
    border-radius: 10px;
    position: static;
}

.kicsi{
    width: 60px;
    border-radius: 20px;
    margin-top: 100px;
}

.menupontok{
    margin-left: 5px;
}

.current{
    margin-left: 3px; margin-right: 3px; font-size: 150%;
}

table{
    border: white 5px solid;
}

th, td{
    padding: 5px;
    border: white 2px solid;
    color: white;
}

a{
    text-decoration: none;
    color: red;
}

.h2es{
    border: 4px solid white;
    font-family: 'Times New Roman', Times, serif;
}

.tkep{
    border-radius: 20px;
}

.logos{
    box-shadow: 10px 10px 10px white;
}

.evadok{
    box-shadow: 6px 6px 6px white;
}